<mat-card appearance="outlined">
    @if (entity(); as ent) {
    <div class="split">
        <mat-card-header>
            <mat-card-title>[Task ID: {{ent.id}}] Project: <span class="project"
                    [routerLink]="['/projects', ent.project?.id]">{{ent.project?.name}}</span></mat-card-title>
            <mat-card-subtitle>
                <p>Created By: {{ent.user?.email ?? "Unavailable"}}</p>
                <p>Status: {{ent.status | reference:'status'}}</p>
                <p>Priority: {{ent.priority | reference:'priority'}}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <!-- Keeps erroring out unless aliased via "as".... -->
        @if(entity(); as damnedentitythatneedstobealiased) {
        @if (damnedentitythatneedstobealiased.id !== undefined) {

        <mat-card-actions>
            <button matIconButton (click)="update(damnedentitythatneedstobealiased.id)" matTooltip="Edit project">
                <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton (click)="delete(damnedentitythatneedstobealiased.id)" matTooltip="Delete project">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
        }
        }
    </div>
    <div class="split">

        <mat-card-content>
            <h2>Description:</h2>
            <p>
                {{ent.description}}
            </p>
        </mat-card-content>
    </div>
    }
</mat-card>