mat-card {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 10px auto;
    background-color: var(--mat-sys-surface-variant);

    h2 {
        margin: 5px auto;
        text-align: center;
    }
}

mat-card-actions {
    padding: 16px;
    gap: 5px;

    button {
        color: var(--mat-sys-primary-fixed);
        background-color: var(--mat-sys-secondary);
    }
}

.split {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    &:nth-child(2) {
        border-left: 1px solid var(--mat-sys-outline)
    }
}

.project {
    color: var(--mat-sys-secondary);
    background-color: var(--mat-sys-surface-variant);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--mat-sys-outline);
    font-weight: bold;
}