<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Created By</th>
      <th>
        Akcija
        <button (click)="add()">+</button>
      </th>
    </tr>
  </thead>
  <tbody>
    @for(entity of entities(); track entity.id) {
      <tr>
        <td>{{entity.id}}</td>
        <td>{{entity.name}}</td>
        <td>{{entity.deadline}}</td>
        <td>{{entity.userId}}</td>
        <td>
          @if(entity.id) {
            <button (click)="detail(entity.id)">D</button>
            <button (click)="update(entity.id)">E</button>
            <button (click)="delete(entity.id)">X</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>