header {
    border-bottom: 2px solid var(--mat-sys-outline);
    background-color: var(--mat-sys-surface);
    
    ul {
        padding: 10px;
        margin-left: 5px;
        padding-left: 15px;
        display: flex;
        gap: 10px;

        li {
            list-style: none;
            display: inline-block;
        }
    }

}