mat-card {
    max-width: 90%;
    margin: 10px auto;
    background-color: var(--mat-sys-surface-variant);
}

mat-card-actions {
    display: flex;
    gap: 5px;

    button {
        color: var(--mat-sys-primary-fixed);
        background-color: var(--mat-sys-secondary);
    }
}


.task-list-wrapper {
    max-width: 90%;
    margin: 10px auto;

    table {

        th {
            position: relative;

            span {
                display: inline-block;
            }

            button {

                border: 1px solid var(--mat-sys-outline);
                border-radius: 2px;
                width: 22px;
                height: 22px;
                position: absolute;
                bottom: 16px;
                margin-left: 5px;

                mat-icon {
                    position: absolute;
                    left: -3px;
                    top: 2px;
                    font-size: 16px;
                }
            }
        }

        tr.cdk-row:hover {
            background-color: var(--mat-sys-surface-variant);
            cursor: pointer;
        }
    }


}