.wrapper {
    margin: {
        left: 86px;
        top: 10px;
        right: 3%;
    }

    table {

        button.clickable {
            background-color: var(--mat-sys-surface-variant);
            cursor: pointer;
            border: 1px solid var(--mat-sys-outline);
        }

        span.clickable {
            background-color: var(--mat-sys-surface-variant);
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid var(--mat-sys-outline);
            font-weight: bold;
        }

        th {
            position: relative;

            span {
                display: inline-block;
            }

            button {

                border: 1px solid var(--mat-sys-outline);
                border-radius: 2px;
                width: 22px;
                height: 22px;
                position: absolute;
                bottom: 16px;
                margin-left: 5px;

                mat-icon {
                    position: absolute;
                    left: -3px;
                    top: 2px;
                    font-size: 16px;
                }
            }
        }
    }
}

.add-button {
    position: fixed;
    top: 100px;
    left: 20px;
}

mat-spinner {
    margin-top: calc(50vh - 100px);
    align-self: center;
    justify-self: center;
}